@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Localization
@using Verdure.McpPlatform.Web.Resources
@inject IStringLocalizer<SharedResources> Loc

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.h6" Class="mt-4" Style="color: #FFFFFF;">@Loc["SigningIn"]</MudText>
            <MudText Typo="Typo.body2" Style="color: rgba(255, 255, 255, 0.85);">@Loc["PleaseWaitAuthenticating"]</MudText>
        </div>
    </LoggingIn>
    
    <CompletingLoggingIn>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.h6" Class="mt-4" Style="color: #FFFFFF;">@Loc["CompletingSignIn"]</MudText>
            <MudText Typo="Typo.body2" Style="color: rgba(255, 255, 255, 0.85);">@Loc["AlmostThere"]</MudText>
        </div>
    </CompletingLoggingIn>
    
    <LogOut>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudProgressCircular Color="Color.Warning" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.h6" Class="mt-4" Style="color: #FFFFFF;">@Loc["SigningOutStatus"]</MudText>
            <MudText Typo="Typo.body2" Style="color: rgba(255, 255, 255, 0.85);">@Loc["YouAreBeingSignedOut"]</MudText>
        </div>
    </LogOut>
    
    <CompletingLogOut>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudProgressCircular Color="Color.Warning" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.h6" Class="mt-4" Style="color: #FFFFFF;">@Loc["CompletingSignOut"]</MudText>
            <MudText Typo="Typo.body2" Style="color: rgba(255, 255, 255, 0.85);">@Loc["AlmostDone"]</MudText>
        </div>
    </CompletingLogOut>
    
    <LogInFailed>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudCard Elevation="4" Style="max-width: 500px; width: 100%;">
                <MudCardContent Class="pa-8 text-center">
                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large" />
                    <MudText Typo="Typo.h5" Class="mt-4 mb-2">@Loc["AuthenticationFailed"]</MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mb-4">
                        @Loc["ErrorSigningIn"]
                    </MudText>
                    <MudButton Variant="Variant.Filled" 
                              Color="Color.Primary" 
                              Href="/login"
                              StartIcon="@Icons.Material.Filled.Refresh">
                        @Loc["TryAgain"]
                    </MudButton>
                </MudCardContent>
            </MudCard>
        </div>
    </LogInFailed>
    
    <LogOutFailed>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudCard Elevation="4" Style="max-width: 500px; width: 100%;">
                <MudCardContent Class="pa-8 text-center">
                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large" />
                    <MudText Typo="Typo.h5" Class="mt-4 mb-2">@Loc["SignOutFailed"]</MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mb-4">
                        @Loc["ErrorSigningOut"]
                    </MudText>
                    <MudButton Variant="Variant.Filled" 
                              Color="Color.Primary" 
                              Href="/"
                              StartIcon="@Icons.Material.Filled.Home">
                        @Loc["GoToHome"]
                    </MudButton>
                </MudCardContent>
            </MudCard>
        </div>
    </LogOutFailed>
    
    <LogOutSucceeded>
        <div class="d-flex flex-column align-center justify-center" style="min-height: 80vh;">
            <MudCard Elevation="4" Style="max-width: 500px; width: 100%;">
                <MudCardContent Class="pa-8 text-center">
                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Large" />
                    <MudText Typo="Typo.h5" Class="mt-4 mb-2">@Loc["SignedOutSuccessfully"]</MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mb-4">
                        @Loc["SignedOutMessage"]
                    </MudText>
                    <MudButton Variant="Variant.Filled" 
                              Color="Color.Primary" 
                              Href="/login"
                              StartIcon="@Icons.Material.Filled.Login">
                        @Loc["SignInAgain"]
                    </MudButton>
                </MudCardContent>
            </MudCard>
        </div>
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code {
    [Parameter]
    public string? Action { get; set; }
}
