@page "/login"
@using Microsoft.Extensions.Localization
@using Verdure.McpPlatform.Web.Resources
@inject NavigationManager Navigation
@inject IStringLocalizer<SharedResources> Loc

<PageTitle>@Loc["Login"] - @Loc["AppTitle"]</PageTitle>

<div class="d-flex justify-center align-center" style="min-height: 80vh;">
    <MudCard Elevation="4" Style="max-width: 500px; width: 100%;">
        <MudCardContent Class="pa-8">
            <div class="text-center mb-6">
                <MudIcon Icon="@Icons.Material.Filled.Cloud" Size="Size.Large" Color="Color.Primary" />
                <MudText Typo="Typo.h4" Class="mt-2">@Loc["AppTitle"]</MudText>
                <MudText Typo="Typo.body2" Color="Color.Secondary">@Loc["SignInToManageMcpServices"]</MudText>
            </div>

            <MudAlert Severity="Severity.Info" Class="mb-4">
                <MudText Typo="Typo.body2">
                    @Loc["SecureAuthenticationInfo"]
                </MudText>
            </MudAlert>

            <MudButton Variant="Variant.Filled" 
                      Color="Color.Primary" 
                      FullWidth="true"
                      Size="Size.Large"
                      Href="authentication/login"
                      StartIcon="@Icons.Material.Filled.Login">
                @Loc["SignInWithKeycloak"]
            </MudButton>

            <MudDivider Class="my-6" />

            <div class="text-center">
                <MudText Typo="Typo.body2" Color="Color.Secondary">
                    @Loc["RedirectToKeycloakInfo"]
                </MudText>
                <MudText Typo="Typo.caption" Color="Color.Secondary" Class="mt-2">
                    @Loc["UsingOidcAuthFlow"]
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</div>
