<MudNavMenu>
    <div class="px-4 py-4">
        <MudText Typo="Typo.caption" Class="nav-header">Navigation</MudText>
    </div>
    
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">
        Dashboard
    </MudNavLink>
    
    <AuthorizeView>
        <Authorized>
            <div class="px-4 pt-4 pb-2">
                <MudText Typo="Typo.caption" Class="nav-header">Management</MudText>
            </div>
            
            <MudNavLink Href="/connections" Icon="@Icons.Material.Filled.Link">
                Xiaozhi Connections
            </MudNavLink>
            <MudNavLink Href="/service-bindings" Icon="@Icons.Material.Filled.Extension">
                MCP Services
            </MudNavLink>
            
            <MudDivider Class="my-3 mx-3" />
            
            <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Settings">
                Settings
            </MudNavLink>
            
            <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.Logout">
                Logout
            </MudNavLink>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="/login" Icon="@Icons.Material.Filled.Login">
                Login
            </MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>
